.header {
    background-color: rgb(116, 224, 136);
    font-family: "Proxima Nova", sans-serif;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 18px; /*18px */
    border-radius: 10px; /* rounded corners */

    grid-row: span 1;
    grid-column: span 4;

    position: relative;
}

#header-text {
    position: absolute;
    margin-top: 18px;
    vertical-align: middle;
}

.nav {
    background-color: rgb(116, 224, 136);
    grid-row: span 1;
    grid-column: span 1;
    border-radius: 10px; /* rounded corners */
}

.main-content {
    background-color: rgb(116, 224, 136);
    padding: 20px;
    border-radius: 10px; /* rounded corners */

    grid-row: span 1;
    grid-column: span 3;
}

.footer {
    background-color: rgb(116, 224, 136);
    font-family: "Proxima Nova", sans-serif;
    font-style: italic;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 10px; /* rounded corners */

    grid-row: span 1;
    grid-column: span 4;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
    vertical-align: middle;
}

.document-body {
    background-color: rgb(171, 229, 187);
    display: grid;
    grid-template-rows: auto 1fr auto; /* 3 rows */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns of same size */
    gap: 16px;
    
    height: 100%;
    min-height: 100vh;
}

#filter-button {
    width: 75%;
    border-radius: 10px; 
    margin-top: 15px;
    margin-left: 10px;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-left: 2px;
    font-size: 13px;
    font-family: "Proxima Nova", sans-serif;
    border: 1.8px solid black;
}

.filter {
    display: block;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 200px;
    border: 1.8px solid black;
    width: 75%;
}

#search-bar {
    width: 240px;
}

.filter-label {
    display: flex;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
    font-family: "Proxima Nova", sans-serif;
}

.sub-title {
    font-size: 18px;
    font-weight: bold;
    font-family: "Proxima Nova", sans-serif;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.sep {
    width: 75%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.circle {
    height: 16px;
    width: 16px;
    background-color: var(--circle-color);
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
}

.text-circle-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    /* space between elements */
    
}

